body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: lighter; */
  background-color: #ddeedd;
  color: dimgray;
}
h1 {
  text-align: center;
}
#loginRegisterNav {
  display: flex;
  flex-direction: row;
}
form *{
  margin: 2px 2px;
}
button {
  background-color: darkseagreen; /* Green */
  border: none;
  color: white;
  height: 20px;
  /* margin: 2px 2px; */
}
#loginButton {
  /* padding: 2px; */
  margin-top: 2px;
  margin-right: 2px;
}
input[type="submit"], input[type="button"] {
  background-color: darkseagreen; /* Green */
  border: none;
  color: #f9f9f9;
  height: 30px;
  /* width: 80px; */
  font-size: 16px;
  margin: 4px 6px;
}
input[type="number"] {
  width: 40px;

}
.inventoryQuantity {
  text-align: center;
}
#employeeNav button{
  background-color: darkseagreen; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 6px;
}
a:visited {
  color: white;
}
#transactionsTable th{
  text-align: left;
}
#transactionDate {
  width: 230px;
}
.link {
  background-color: darkseagreen; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 6px;
  font-size: 10px;
  padding: 6px 6px;
  /* border-top: 10px; */
}

@media screen and (max-width:320px){
  form {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }

  input[value="Checkout"] {
    position: fixed ;
    bottom: 0px;
    width: 92%;
    /* margin-right: 6px; */
  }
  #checkoutInventory, #summary {
    margin-bottom: 40px;
  }
  .inventoryTable th {
    vertical-align: top;
  }
}

